*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
}

.navbar {
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar img {
    width: 30px; /* Adjusted the image width for better visibility */
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-family: "Segoe UI", sans-serif;
    color: #191919;
    font-weight: 600;
    transition: color 0.3s;
    position: relative; /* Added relative positioning */
}

.navbar ul li a:hover {
    color: orangered;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    bottom: -3px; /* Adjusted the position of the underline */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: orangered;
    transform: scaleX(0); /* Initially hidden */
    transition: transform 0.3s ease; /* Added transition for underline */
}

.navbar ul li a:hover::after {
    transform: scaleX(1); /* Show underline on hover */
}

.form-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.form-input h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.form-input p {
    font-size: 20px;
    margin: 15px 0;
}

.form-input input {
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.form-input button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: green;
}

.form-input button:hover {
    color: #F1F1F1;
}
